<footer id="app-footer">
    <nav></nav>
    <p>&copy; 2022 - 2025 <a href="https://surfscape.neocities.org/about/team">SurfScape Team</a> and <a href="https://github.com/surfscape/services/graphs/contributors">contributors</a>
    </p>
    <p>
        <a href="https://github.com/surfscape/gateway">Source Code (GitHub)</a>
    </p>
    <p>Made in Portugal ❤</p>
</footer>